<!DOCTYPE html>
{% load static  account socialaccount %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Yalorik{% endblock %}</title>
  
  <meta name="description" content="лор-врач Абрамович Лилия, курсы по отоскопии, неотложная медицинская помощь">
  <meta name="keywords" content="лор, абрамович лилия, курсы, отоскопия, неотложка">
  <meta name="Author" content="Абрамович Андрей">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Yalorik">
  <meta property="og:description" content="лор-врач Абрамович Лилия, курсы по отоскопии, неотложная медицинская помощь">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://yalorik.by">
  <meta property="og:site_name" content="Yalorik">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/sertificat.css' %}">-->
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

  
  

  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/1.png' %}">
 <!-- <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>-->
  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    -->  
  </head>
<body>

<div id="loader-wrapper">
  <div id="loader"></div>
</div>

{#<div class="content-bg"></div>#}
{#<div class="bg-overlay"></div>#}

<!-- SITE TOP -->
<div class="site-top">
  <div class="site-header clearfix">
    <div class="container">
      <a href="/" class="site-brand pull-left"><img src="{% static 'images/yalorik.png' %}"></a>
     <!-- <div class="header__column">-->
        <nav class="social-icons pull-right">
          <ul class="menu__list">
            <li><a href="{% url 'about' %}" class="menu__link">Обо мне</a></li>
            <li><a href="{% url 'hello' %}" class="menu__link">Главная</a></li>
            <li><a href="{% url 'profile' %}" class="menu__link">Профиль</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}" class="menu__link">Выйти</a></li>
            {% else %}
            <li><a href="{% provider_login_url 'google' %}" class="menu__link">Войти</a></li>
            {% endif %}
          </ul>
        </nav>
      <!--</div>-->
    </div>
  </div> <!-- .site-header -->
</div> <!-- .site-top -->

{% block content %}
{% endblock content %}
<!-- FOOTER -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copyright-text">
          <a href='https://t.me/Lile4ka_Abramovich'><img src="https://img.icons8.com/carbon-copy/1x/telegram-app.png"></a>
          <a href='https://instagram.com/lor_liliia.abramovich?igshid=ZDdkNTZiNTM='><img src="https://img.icons8.com/clouds/1x/instagram-new--v3.png"></a></p>
          <p class="copyright-text">
              +375 (44) 781-59-96   |   +375 (29) 331-02-85
          </p>
      </div>
    </div>
  </div>
</footer>



<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/sertificat.js' %}"></script>

<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/min/plugins.min.js' %}"></script>
<script src="{% static 'js/min/main.min.js' %}"></script>

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
    $(window).load(function () { // makes sure the whole site is loaded
        $('#loader').fadeOut(); // will first fade out the loading animation
        $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow-y': 'visible'});
    })
    //]]>
</script>
</body>
</html>
