* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_user h1 {
    color: #1b1b1b;
    z-index: 1;
}

#user_btn {
    z-index: 5;

}

._cbutton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
}

.button_div {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid blueviolet;
    padding: 5px 25px;
    cursor: pointer;
}

.button_txt {
    font-family: Arial;
    font-size: 40px;
    font-weight: normal;
}

.button_div:hover {
    background: silver;
    color: #c7254e;
}

.logout_h1 {
    color: #1b1b1b;
}

#google{
    color: black;
}


div#title {
    text-align: center;
    align-content: center;
    color: #c7254e;
}
p#p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.site-brand img {
    max-width: 100%
}

@media (max-width: 768px) {
    .site-brand {
        max-width: 400px
    }
}
