{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="container_user">
        <ul>
            <li>user: {{ user.username }}</li>
            <li>name: {{ user.first_name }}</li>
            <li>surname: {{ user.last_name }}</li>
{#            <li>email: {{ user.email }}</li>#}

        </ul>
    </div>
</div>
{#    <a href="{% url 'home' %}">Home</a>#}
    <div class="container">
    {% if perms.video_hosting.view_video %}
        <form action="{% url 'home' %}" target="_blank">
                <button class="button_div">Просмотр уроков</button>
            </form>
    {% else %}
        <p>Ожидайте, скоро Вы получите доступ к видеоматериалам</p>
    {% endif %}
    </div>

    <div class="container">
    <p> category

        {% for cat in categories %}
            <form action="{% url 'lessons' category_slug=cat.slug %}" target="_blank">
            <button class="btn-lg">{{ cat.name }}</button>
            </form>
        {% endfor %}

    </p>
    </div>
{% endblock %}