{% extends 'base/base.html' %}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block content %}
<div class="main-posts">
  <div class="container">
    <div class="blog-masonry masonry-true">
      <div class="post-masonry col-md-12 col-md-12">
        <div class="post-thumb">
          <img class="about-lily" src="{% static 'images/Lily1.jpg' %}" alt="Lily" style="float: left;
          margin-right: 15px; max-width: 500px; height: auto;">
          <p id="p" style="padding: 5px">
              

            Меня зовут <strong>Лилия Абрамович</strong>.<br>
            Я практикующий доктор (ЛОР) работаю на современном диагностическом оборудовании в двух многопрофильных медицинских центрах, принимаю детей и взрослых.<br>
            Опыт работы более 15 лет.<br>
            Регулярно повышаю свою квалификацию на курсах,тренингах и конгрессах.<br>
            Свою профессиональную деятельность совмещаю с активным семейным хобби (дайвинг, туризм, велопутешествия и др.).<br>

            Являюсь сертифицированным дайвером и инструктором по неотложной помощи.<br>

            На создание сайта и курсов, меня вдохновили мои единомышленники -муж и друзья, с которыми мы занимаемся дайвингом
            А также мои пациенты, которым также интересны темы сохранения здоровья и спасения жизни в экстремальных синуациях..<br>

            Мое стремление профессионально совершенствоваться и желание делится практическими и теоретическими знаниями позволит Вам неупустить время для действий и стать увереннее в своих силах при оказании помощи.<br>

            Мы твёрдо уверены, что первая помощь – проще, чем вы думаете! 
            Это навык, доступный каждому.<br>

            Мы хотим, чтобы каждый человек был способен помочь своим родным, друзьям, да и просто незнакомым людям в трудную минуту.<br>

            Мы не просто учим оказывать помощь – мы дарим вам уверенность в том, что вы способны помочь ближнему в трудную минуту.<br>

            Вместе мы сможем сделать наш мир лучше, потому что стремимся спасти жизнь и сохранить здоровье!<br>
            
          </p>
          <form action="{% url 'sertificats' %}" target="_blank">
            <button class="button_div">certificats</button>
          </form>

        </div>
      </div>
    </div>
    
  </div>
 
</div>

{% endblock content %}
