{% extends 'base/base.html' %}
{% load static %}
{% block title %}Курс Неотложная помощь для дайверов{% endblock %}
{% block content %}
<div class="main-posts">
  <div class="container">
    <div class="blog-masonry masonry-true">
      <div class="post-masonry col-md-12 col-md-12">
        <div class="post-thumb">
          <img src="{% static 'images/Lily1.jpg' %}" alt="Lily" style="float: left;
          margin-right: 15px; max-width: 500px; height: auto;">
          <h5 style="color: black">КУРС «Неотложная помошь для дайверов»</h5>
            <p id="p" style="padding: 5px">
                Каждый дайвер ЗНАЕТ О возможном РИСКЕ, связанном с погружениями, 
                но в какой-то момент своей жизни МОЖЕТ СТОЛКНУТЬСЯ с КРИТИЧЕСКОЙ СИТУАЦИЕЙ, которая потребует быстрое реагирование и НЕОБХОДИМОСТЬ ОКАЗАНИЯ неотложной ПОМОЩИ себе или окружащим.<br>
                
                Теоретические знания оказания первой помощи и практические навыки помогут СВОЕВРЕМЕННО НАЧАТЬ ДЕЙСТВОВАТЬ в случае возникновения любого жизненного инцидента.<br>
                
                Учебная программа соответствует  последним международным стандартам, разработанным  мировыми организациями в области первой помощи, реанимации и неотложной медицины и соответсвует требованиям курса SSI "React Right" (FA,CPR,AED,O2).<br>
                
                Курс, разработан врачом-дайвером и преподавателем дайвинга, прост для понимания и предназначен для того, чтобы ДАТЬ Вам НАВЫКИ и УВЕРЕННОСТЬ, необходимые для реагирования в чрезвычайных ситуациях (связанных с подводным плаванием с аквалангом, так и других жизненных ситуациях на суше).<br>
                
                СТОИТ ПОТРАТИТЬ несколько ЧАСОВ вечером (ДЛЯ ИЗУЧЕНИЯ ТЕОРЕТИЧЕСКОЙ ВИДЕОПРЕЗЕНТАЦИИ) и на выходных ( ОСВОЕНИЯ  ПРАКТИЧЕСКИХ НАВЫКОВ и действий в смоделированных сценариях несчастных случаев), которые МОГУТ СПАСТИ ЖИЗНЬ.<br>
                
                Тренинг подготовит Вас к оказанию необходимой помощи при опасных для жизни заболеваниях или травмах до тех пор, пока не будет доступна профессиональная медицинская помощь.<br>
                
                ПРИДАСТ участникам УВЕРЕННОСТЬ в собственных силах в случае возникновения реальной чрезвычайной ситуации.<br>
                
                Пройдя обучение на курсе SSI "React Right" (FA,CPR,AED,O2) студенты – непрофессиональные спасатели – научатся:<br>
                
                &#10148 оказывать неотложную помощь, следуя тем же принципам, что и медицинские работники.<br> 
                
                &#10148 оказывать первую помощь при телесных повреждениях и заболеваниях, которые не представляют немедленной угрозы жизни пострадавшего.<br>
                
                &#10148 основным принципам оказания первичной помощи и проведения СЛР (сердечно-легочной реанимации) НА современных симуляционных МАНЕКЕНАХ (Laerdal)<br>
                
                &#10148 научитесь готовить к работе и ИСПОЛЬЗОВАТЬ автоматический внешний ДЕФИБРИЛЛЯТОР в чрезвычайных ситуациях<br>
                
                &#10148 освоите навыки ИСПОЛЬЗОВАНИЯ КИСЛОРОДНОГО ОБОРУДОВАНИЯ.<br>
                
                
                Будьте готовы сами оказать помощь себе и тем, кто ныряет вместе с вами.<br>
                
                Всегда соблюдайте меры предосторожности, чтобы избежать опасных ситуаций. <br>
                
                Это поможет вам стать хорошим дайвером!
            </p>
        </div>
      </div>
      <!--<div class="post-masonry col-md-6 col-md-6">
        <div class="post-thumb">
            
        </div>
      </div>
    -->
    </div>
    
  </div>
  
    

</div>
{% endblock content %}
