{% extends 'base/base.html' %}
{% load socialaccount %}
{% block content %}
<div class="main-posts">
  <div class="container">
    <div class="row">
      <div class="blog-masonry masonry-true">
      {% if is_person %}

        {% for video in lessons %}
          <div class="post-masonry col-md-4 col-sm-6">
            <div class="post-thumb">
              <img src="{{ video.image.url }}" alt="">
              <div class="title-over">
                <h4>{{ video.title }}</h4>
              </div>
              <div class="post-hover text-center">
                <div class="inside">
                  <i class="fa fa-plus"></i>
                  <span class="date">{{ video.create_at }}</span>
                  <h4><a href="{% url 'video' video.slug %}">{{ video.title }}</a></h4>
                  <p>{{ video.description|slice:":100" }}</p>
                </div>
              </div>
            </div>
          </div> <!-- /.post-masonry -->
        {% endfor %}
          {% else %}
            <p>Вам сюда нельзя!</p>
            <p>Для доступа обратитесь к администратору сайта.</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
