{% extends 'base/base.html' %}
{% load static %}
{% block title %}Курс Первая помощь{% endblock %}
{% block content %}
<div class="main-posts">
  <div class="container">
    <div class="blog-masonry masonry-true">
      <div class="post-masonry col-md-12 col-md-12">
        <div class="post-thumb">
          <img src="{% static 'images/Lily1.jpg' %}" alt="Lily" style="float: left;
          margin-right: 15px; max-width: 500px; height: auto;">
          <h5 style="color: black">КУРС «ПЕРВАЯ ПОМОЩЬ ДЕТЯМ И ВСЕЙ СЕМЬЕ»</h5>
            <p id="p" style="padding: 5px">
              Интенсивный практический тренинг для всех:<br>
              &#10148 родителей и других членов семьи, нянь,<br>
              &#10148педагогов и воспитателей, тренеров детских секций и клубов,<br>
              &#10148всех, кто работает с детьми
              и, конечно, тренинг для Вас, если:<br>
              &#10148Вы осознаёте, что от Ваших действий зависит жизнь членов вашей семьи, друзей, коллег<br>
              &#10148Вы хотите быть способным помочь любому ребёнку или взрослому в трудную минуту<br>
              &#10148Вы считаете себя ответственным за жизнь своих и доверенных Вам детей<br>
              Ребёнок бегал со жвачкой во рту. Вдруг его лицо посинело, он молча хватает себя за шею.<br>

                Ваш родственник внезапно побледнел, вспотел, захрипел и начал терять сознание.<br>

                Ребёнок упал с качелей и лежит без движения на детской площадке лицом вниз.<br>

                Ваша бабушка опрокидывает кастрюлю с кипятком себе на ноги, когда готовит обед на даче и…<br>

                Жизнь пострадавшего зависит от Ваших быстрых и правильных действий.
                Не поможете Вы – «скорая» может остаться без работы…<br>


                Записывайтесь на тренинг и всего за 1 день вы:<br>

                &#10148Избавитесь от страха и чувства бессилия перед необходимостью оказывать первую помощь<br>

                &#10148Научитесь останавливать панику и действовать без ошибок<br>

                &#10148Обретёте уверенность в том, что Вы способны помочь любому пострадавшему<br>

                &#10148Расстанетесь с мифами и заблуждениями о первой помощи<br>

                ВЫ БУДЕТЕ УМЕТЬ:<br>

                &#10148Обеспечивать собственную безопасность на месте происшествия<br>

                &#10148Вызывать экстренные службы правильно и чётко<br>

                &#10148Эвакуировать пострадавших из зоны опасности<br>

                &#10148Оценивать состояние пострадавшего безошибочно, пользуясь алгоритмом Первой Помощи<br>

                &#10148Останавливать кровотечения и обрабатывать раны<br>

                &#10148Оказывать помощь при ожогах<br>

                &#10148Оказывать помощь при:<br>

                судорожных припадках (эпилепсия), 

                потере сознания, 

                удушье инородным телом, 

                удушье при аллергическом отёке гортани (отёк Квинке), 

                сердечном приступе, астме, инсульте, 

                утоплении, 

                остановке дыхания и остановке сердца (реанимация)<br>

                &#10148Вы узнаете:<br>

                Свои права и обязанности, связанные с оказанием первой помощи, согласно законодательству РБ, 

                что пострадавшего можно «двигать» даже если у него сломан позвоночник. 

                Почему не надо проверять пульс. 

                Почему важно иметь хорошую аптечку. <br>

                Поймёте, почему категорически нельзя:<br>

                трясти подавившегося ребёнка за ноги, 

                засовывать ложку в рот при судорожном припадке (эпилепсии), 

                мазать ожоги маслом или поливать их спиртом, 

                вытряхивать воду из утопленника перед началом сердечно-лёгочной реанимации и т.д.
            </p>
        </div>
      </div>
      <!--<div class="post-masonry col-md-6 col-md-6">
        <div class="post-thumb">
            
        </div>
      </div>
    -->
    </div>
    
  </div>
  
    

</div>
{% endblock content %}
